#fsm-graph-print{
    display:none;
    background-color:#fff;
}
#fsm-graph-img{
    display:block;
}

#fsm-graph-container {
    overflow: auto;
    height: 100%;
    width: 100%;
}

#fsm-graph-copy{
    display: none;
}